@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.game-body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  max-width: 600px;
  height: 75vh;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}

.radio-buttons {
  display: flex;
  gap: 4px;
}

.prompt {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.controls {
  display: flex;
  gap: 4px;
}

.controls input {
  flex: 4;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}

.controls button {
  flex: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}
